<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Exercise 2 - Create a markdown cell with the title of the notebook.

# Data Science Tools and Ecosystem

#### Exercise 3 - Create a markdown cell for an introduction.

 ## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

#### Exercise 10 - Insert a markdown cell to list Objectives

## Objectives:
- List popular languages for Data Science.
- Identify key libraries used in Data Science.
- Understand essential tools for Data Science.
- Demonstrate basic arithmetic operations in programming.
- Learn how to share your notebook through GitHub.

#### Exercise 4 - Create a markdown cell to list data science languages.

## Data Science Languages
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

#### Exercise 5 - Create a markdown cell to list data science libraries.

## Data Science Libraries
Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

#### Exercise 6 - Create a markdown cell with a table of Data Science tools.

## Data Science Tools

| Tool          | Description                          |
|---------------|--------------------------------------|
| Jupyter       | Interactive notebook environment     |
| GitHub        | Version control and collaboration    |
| RStudio       | IDE for R programming                |
| Tableau       | Data visualization tool              |
| Apache Spark  | Big data processing framework        |

#### Exercise 7 - Create a markdown cell introducing arithmetic expression examples.

## Arithmetic Expression Examples
Below are a few examples of evaluating arithmetic expressions in Python
1. Addition
2. Subtraction
3. Multiplication
4. Division

#### Exercise 8 - Create a code cell to multiply and add numbers.

In [9]:
# Code to perform the operation (3 * 4) + 5
a = 3
b = 4
c = 5

# Calculation
result = (a * b) + c
print("The result of (3 * 4) + 5 is:", result)

The result of (3 * 4) + 5 is: 17

#### Exercise 9 - Create a code cell to convert minutes to hours.

In [10]:
# Code to convert minutes to hours
def convert_minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

# Example usage
minutes = 200
print(f"{minutes} minutes is equal to {convert_minutes_to_hours(minutes)} hours.")

200 minutes is equal to 3.3333333333333335 hours.

#### Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.

## Author
Luis Jesus Tapia Aranda